.mailList-container {
    background-color: $dark-blue;
    width: 100%;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    &.normal-margin {
        margin: 24px 0 0;
    }

    &.small-margin {
        margin: 0;
    }

    h1 {
        margin: 0 0 16px;
        @include textShadow();
    }

    span {
        margin: 0 0 8px;
        @include textShadow();
    }

    form {
        margin: 8px;
        display: flex;
        flex-direction: row;
        align-items: center;

        input {
            outline: none;
            border-radius: 8px;
            padding: 4px 8px;
            cursor: pointer;
        }
    }
}
