.properties-page-container {
    display: grid;
    grid-template-columns: 1.05fr 2fr;
    gap: 16px;
    width: 100%;
    max-width: 1024px;
    margin: 16px auto;
    padding: 0 8px;
  }

  .search-container {
    position: sticky;
    top: 24px;
    height: 492px;
    padding: 16px 0;
    border-radius: 8px;
    background-color: $gold;

    &.big-height {
      height: 624px;
    }

    h3 {
      margin: 16px 0 0 16px;
    }

    .input-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .input-container {
      width: 75%;
      font-size: 14px;

      &.dates {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        position: relative;
        border-radius: 4px;
        margin: 4px 16px;
        padding: 8px;
        color: $gray;
        background-color: $white;
        cursor: pointer;
      }

      .input-sub-container {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      input {
        width: 100%;
        font-size: 14px;
        color: $gray;
        border: none;
        border-radius: 4px;
        outline: none;
        cursor: pointer;

        &::placeholder {
          color: $gray;
        }

        &.input-destination {
          margin: 4px 0;
          padding: 8px;
        }

        &.input-prices {
          width: 72px;
          margin: 2px 0;
          padding: 2px 4px 2px 8px;
        }
      }

      .date-range-dropdown {
        position: absolute;
        left: -36px;
        top: 38px;
        border-radius: 4px;
        z-index: 999;
      }
    }

    .option-btn-wrapper {
      min-width: 72px;
      margin: 2px 0;
      display: flex;
      justify-content: space-between;
      border-radius: 4px;
      color: $gray;
      background-color: $white;
      font-size: 14px;
    }

    .search-btn-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  .results-container {
    *:not(:last-child) {
      margin-bottom: 8px;
    }
}
