.mailList--container {
    background-color: rgba(0, 53, 128, 1);
    width: 100%;
    margin: 24px 0 0;
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.mailList--container h1 {
    margin: 0 0 16px;
}

.mailList--container span {
    margin: 0 0 8px;
}

.mailList--form {
    margin: 8px;
    display: flex;
    flex-direction: row;
}

.mailList--input {
    outline: none;
    border-radius: 8px;
    padding: 4px 8px;
    cursor: pointer;
}

.mailList--btn {
    margin: 0 0 0 8px;
    padding: 8px 16px;
    height: 100%;
    border: 1px solid transparent;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 113, 194, 1);
    transition: border-color 0.2s ease-in-out;
 }

.mailList--btn:hover {
    border-color: white;
}
