.featured-container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.featured-item {
    flex: 1;
    border-radius: 4px;
    box-shadow: 0px 2px 4px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    position: relative;
    cursor: pointer;
}

.featured-item:hover {
    box-shadow: 0px 2px 8px gray;
}

.featured-image {
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 4px;
}

.featured-text {
    position: absolute;
    bottom:0;
    left: 8px;
    color: white;
    font-size: 24px;
}

p.featured-text {
    font-size: 16px;
    margin-top: 8px;
}

