.properties--container {
    display: grid;
    grid-template-columns: 1.05fr 2fr;
    gap: 16px;
    width: 100%;
    max-width: 1024px;
    margin: 16px auto;
    paadding: 0 8px;
}

.properties--search-container {
    position: sticky;
    top: 24px;
    height: 492px;
    padding: 16px 0;
    border-radius: 8px;
    background-color: #febb02;
}

.properties--search-container.big-height {
    height: 624px;
}

h3.properties--search-title {
    margin: 16px 0 0 16px;
    color: rgba(0, 53, 128, 1);
}

.properties--input-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.properties--input-container {
    width: 75%;
    font-size: 14px;
}

input {
    width: 100%;
    font-size: 14px;
    border: none;
    border-radius: 4px;
}

span.properties--input-title {
    align-self: flex-start;
    margin: 16px 0 8px 16px;
}

input.properties--destination {
    margin: 4px 0;
    padding: 8px;
}

.properties--input-container.dates {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    border-radius: 4px;
    margin: 4px 16px;
    padding: 8px;
    background-color: white;
}

.properties--input-date-dropdown {
    position: absolute;
    left: -36px;
    top: 38px;
    border-radius: 4px;
    z-index: 999;
}

.properties--input-option-sub-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

input.properties--prices {
    width: 72px;
    margin: 2px 0;
    padding: 2px 4px 2px 8px;
    border: none;
}

.properties--option-btn-wrapper {
    min-width: 72px;
    margin: 2px 0;
    display: flex;
    justify-content: space-between;
    border-radius: 4px;
    background-color: white;
    font-size: 14px;
}

.properties--option-btn {
    margin: 0;
    padding: 0 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    border: 1px solid transparent;
    color: rgba(0, 113, 194, 1);
    background-color: white;
    transition: border-color, color, background-color 0.2s ease-in-out;
}

.properties--option-btn:not([disabled]):hover {
    border-color: rgba(0, 113, 194, 1);
    color: #febb02;
    background-color: rgba(0, 113, 194, 1);
}

.properties--option-btn:disabled {
    color: white;
    background-color: transparent;
    cursor: not-allowed;
}

.properties--search-btn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.properties--search-btn {
    width: 75%;
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 8px;
    cursor: pointer;
    background-color: rgba(0, 113, 194, 1);
    color: white;
    border: 1px solid transparent;
    transition: color, border-color 0.2s ease-in-out;
}

.properties--search-btn:hover {
    border-color: white;
}
