.property--container {
    display: flex;
    flex-direction: column;
    margin: 24px auto;
    align-items: center;
}

.property--wrapper {
    width: 100%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
}

.property--top-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.property--top-content {
    display: flex;
    flex-direction: column;
    margin: 0 0 16px 0;
}

.property--top-content h1, span {
    margin: 4px 0;
}

.property--images-wrapper {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
}

.property--image {
    width: 33%;
    border-radius: 8px;
}

.property--location-wrapper {
    display: flex;
    align-items: center;
}

.property--text-bold {
    font-weight: bold;
}

.property--text-blue-bold {
    color: rgba(0, 113, 194, 1);
    font-weight: bold;
}

.property--text-address {
    margin-left: 8px;
}

.property--text-green-bold {
    color: rgb(92, 184, 92);
    font-weight: bold;
}

.property--bottom-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 16px 0;
}

.property--bottom-description p {
    margin: 0;
}

.property--bottom-card {
    width: 100%;
    padding: 16px 0;
    background-color: #ebf3ff;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
}

.property--bottom-card-description {
    margin: 0 16px;
    font-size: 24px;
    font-weight: bold;
}

.property--bottom-card-price {
    margin: 16px;
    font-size: 20px;
    font-weight: bold;
}

.property--book-btn {
    padding: 16px 24px;
    margin: 16px 0 0 0 ;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 113, 194, 1);
    transition: background-color 0.2s ease-in-out;
}

.property--book-btn:hover {
    background-color: rgba(0, 53, 128, 1);
}

.btn-top {
    align-self: flex-start;
}

.btn-bottom {
    width: 100%;
    margin: 16px 0 8px 0;
}

.property--slider {
    position: sticky;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property--slider-wrapper-image {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.property--slider-image {
    border-radius: 8px;
    width: 80%;
    height: 80vh;
    /*object-fit: cover;*/
}

.property--slider-icon-X {
    font-size: xx-large;
    position: absolute;
    top:20px;
    right: 20px;
    cursor: pointer;
    z-index: 9999;
    color: rgba(189, 195, 199, 1);
}

.property--slider-icon {
    font-size: xxx-large;
    margin: 20px;
    cursor: pointer;
    z-index: 9999;
    color: rgba(189, 195, 199, 1);
}
