.fp-container {
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 8px;
}

.fp-item {
    flex: 1;
    border-radius: 4px;
    box-shadow: 0px 2px 4px gray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    z-index: 1;
    cursor: pointer;
}

.fp-item:hover {
    box-shadow: 0px 2px 8px gray;
}

.fp-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 4px 4px 0 0;
}

.fp-name {
    color: black;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 4px 8px;
}

.fp-city {
    font-size: 16px;
    font-weight: bold;
    padding: 4px 8px;
}

.fp-price {
    font-size: 16px;
    padding: 4px 8px;
}

.fp-text {
    font-size: 12px;
    padding: 4px 8px;
}

.icon-star-gold {
    color: gold;
}
