.header {
    background-color: rgba(0, 53, 128, 1);
    /*color: rgba(104, 140, 186, 1);*/
    color: white;
    display: flex;
    justify-content: center;
    position: relative;
}

.header-container {
    width: 100%;
    max-width: 1024px;
    margin: 24px 24px 48px 24px;
    padding: 4px 8px;
}

.header-container.small {
    margin: 24px 24px 16px 24px;
}

.header-list {
    display: flex;
    align-items: center;
    gap: 24px;
}

.header-list-item {
    margin: 4px 0;
    padding: 8px;
    border: 1px solid transparent;
    border-radius: 16px;
    cursor: pointer;
    transition: border-color 0.2s ease-in-out;
}

.header-list-item.active {
    border-color: white;
}

.header-list-item span {
    margin-left: 8px;
}

.header-title {
    margin: 24px 0 16px 0;
}

.header-description {
    margin: 8px 0 16px 0;
}

.header-link {
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 113, 194, 1);
    border: 1px solid transparent;
    transition: border-color 0.2s ease-in-out;
}

.header-link:hover {
    border-color: white;
}

.header-search {
    position: absolute;
    bottom: -26px;
    height: 48px;
    width: fit-content;
    /*width: 100%;*/
    max-width: 1024px;
    background-color: rgba(255, 183, 0, 1);
    padding: 4px;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
}

.header-search-item {
    background-color: white;
    border-radius: 4px;
    height: 100%;
    padding: 0 8px;
    margin: 0 4px 0 0;
    display: flex;
    align-items: center;
}

.header-search-item-sub {
    cursor: pointer;
}

.header-icon {
    color: gray;
    margin-right: 8px;
}

.header-search-input {
    border: none;
    outline: none;
    color: gray;
    font-size: 16px;
}

.header-search-text {
    color: gray;
}

.date-range {
    position: absolute;
    top: 52px;
}

.options {
    position: absolute;
    top: 52px;
    color: gray;
    min-width: 192px;
    padding: 4px 8px;
    background-color: white;
    border-radius: 4px;
    box-shadow: 0px 0px 10px -5px gray;
    z-index: 999;
}

.option-item {
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
}

.option-item-sub {
    min-width: 72px;
    border: 1px solid gray;
    border-radius: 4px;
    display: flex;
    justify-content: space-between;
}

.option-btn {
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: color, background-color 0.2s ease-in-out;
}

.option-btn:not([disabled]):hover {
    color: white;
    background-color: rgba(0, 113, 194, 1);
    border: none;
    border-radius: 2px;
}

.option-btn:disabled {
    cursor: not-allowed;
}

.close-options-btn {
    margin-top: 4px;
    width: 100%;
    border: 1px solid rgba(0, 113, 194, 1);
    border-radius: 4px;
    color: rgba(0, 113, 194, 1);
    background-color: transparent;
    transition: color, background-color 0.2s ease-in-out;
    cursor: pointer;
}

.close-options-btn:hover {
    color: white;
    background-color: rgba(0, 113, 194, 1);
}

.header-search-btn {
    padding: 8px 16px;
    height: 100%;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 113, 194, 1);
    transition: background-color 0.2s ease-in-out;
}

.header-search-btn:hover {
    background-color: rgba(0, 53, 128, 1);
}
