.navbar {
    height: 64px;
    padding: 32px 0 24px 0;
    background-color: rgba(0, 53, 128, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar--container {
    width: 100%;
    max-width: 1024px;
    margin: 0 24px;
    padding: 4px 8px;
    color: white;
    display: flex;
    justify-content: space-between;
}

.logo a {
    margin: 0;
    padding: 0;
    font-size: 24px;
    font-weight: 500;
    padding: 8px 16px 8px 0;
    text-decoration: none;
    border-radius: 8px;
    border: 0.08rem solid transparent;
    color: white;
    text-shadow: 0.008rem 0.008rem 0.008rem rgba(0, 113, 194, 1);
}

.navbar--link {
    text-decoration: none;
    margin-left: 8px;
    padding: 4px 12px;
    border-radius: 4px;
    cursor: pointer;
    color: white;
    background-color: rgba(0, 113, 194, 1);
    border: 1px solid transparent;
    transition: border-color 0.2s ease-in-out;
}

.navbar--link:hover {
    border-color: white;
}
